### Python Basics

In [1]:
1+2

3

In [2]:
5//2

2

In [3]:
5+3*2

11

In [4]:
(5+3)*2

16

In [5]:
type(4/2)

float

In [6]:
type(3)

int

In [8]:
a=10
b=20
c=a+b

In [9]:
c

30

In [10]:
type(c)

int

In [11]:
true or false

NameError: name 'true' is not defined

In [12]:
True or False

True

In [13]:
True|False

True

In [15]:
type(True | False)

bool

In [16]:
a=10
b=20
a+b>30 | a-b<10

True

In [17]:
type('f')

str

In [18]:
###zgfxds

In [19]:
#hjsd

In [20]:
type('df')

str

In [21]:
str1="sdhgd qwnedgh"

In [23]:
str(1)

'1'

In [24]:
a=20
a

20

In [25]:
print(a)

20

In [26]:
type(a)

int

In [27]:
str1="A good boy"
str2='a bad boy'

In [28]:
print(str1)
print(str2)

A good boy
a bad boy

In [31]:
str1+" "+str2

'A good boy a bad boy'

In [32]:
name=input("Enter Ur name")

Enter Ur namec

In [33]:
print(name)

c

In [35]:
a=float(input("Enter no 1")) 
b=float(input("Enter no 2"))
c=a+b
print(c)

Enter no 12
Enter no 23
5.0

In [36]:
f=input('first name')
s=input('last name')
print('Wlcome',f,s)

first nameas
last namedf
Wlcome as df

In [37]:
f=input('first name')
s=input('last name')
print('first name and last name is',f,s)

first nameas
last namedf
first name and last name is as df

In [38]:
f=input('first name')
s=input('last name')
print('first name {} and last name is{}'.format(f,s))

first nameas
last namedf
first name as and last name isdf

In [40]:
"sdgh"+"1"

'sdgh1'

In [41]:
1+int('2')

3

In [1]:
a=int(input("first"))
b=int(input("sec"))
c=a-b
print("no is",c)
if c<0:
     print("the no is negative")
elif c>40:
    print("the diff is huge")
else: 
    print("no is pos")

first100
sec50
no is 50
the diff is huge

In [2]:
lst=[1,2,3,"kl","op"]

In [3]:
lst

[1, 2, 3, 'kl', 'op']

In [4]:
lst[3]

'kl'

In [5]:
type(lst[3])

str

In [6]:
lst.append(34)

In [7]:
lst

[1, 2, 3, 'kl', 'op', 34]

In [8]:
lst[2]="dfg"

In [9]:
lst

[1, 2, 'dfg', 'kl', 'op', 34]

In [10]:
lst.append("kl")

In [11]:
lst.count("kl")

2